fastapi
uvicorn[standard]
pymongo
python-dotenv
pillow
requests
sentence-transformers

pytesseract

fastapi
uvicorn[standard]
python-multipart
pillow
pytesseract
#motor
pydantic
sentence-transformers
faiss-cpu
transformers
torch
python-dotenv
opencv-python-headless
